@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent; /* Background of the scrollbar main container */
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #d0d6db; /* Color of the scrollbar main elem */
  border-radius: 4px;
}
.scrollbar-custom.hide-scrollbar::-webkit-scrollbar-hover {
  display: none;
}

.sidebar-custom::-webkit-scrollbar {
  display: none;
}

/* NOTE Preloader Spinner */
.main-tranisiton {
  transition-property: display, justify-conten, align-items, background-color,
    z-index, inset, position;
  transition-timing-function: ease-in-out;
  transition-duration: 1000 ms;
}
.page-transition-off {
  display: none;
}
.page-transition-on {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9999;
  inset: 0;
  position: fixed;
}
/* NOTE Preloader Spinner */

@layer utilities {
  /* IDEA Common IDEA */

  .background-light850_dark100 {
    @apply bg-light-850 dark:bg-dark-100;
  }

  .background-light900_dark200 {
    @apply bg-light-900 dark:bg-dark-200;
  }

  .background-light900_dark300 {
    @apply bg-light-900 dark:bg-dark-300;
  }

  .background-light800_darkgradient {
    @apply bg-light-800 dark:dark-gradient;
  }

  .background-light800_dark400 {
    @apply bg-light-800 dark:bg-dark-400 !important;
  }

  .background-light700_dark400 {
    @apply bg-light-700 dark:bg-dark-400;
  }

  .background-light700_dark300 {
    @apply bg-light-700 dark:bg-dark-300;
  }

  .background-light800_dark400 {
    @apply bg-light-800 dark:bg-dark-400;
  }

  .background-light800_dark300 {
    @apply bg-light-800 dark:bg-dark-300 !important;
  }

  .background-light800_dark200 {
    @apply bg-light-800 dark:bg-dark-200;
  }

  .background-dark400_light900 {
    @apply dark:bg-dark-400 bg-light-900 !important;
  }

  .text-dark100_light900 {
    @apply text-dark-100 dark:text-light-900 !important;
  }

  .text-dark200_light900 {
    @apply text-dark-200 dark:text-light-900;
  }

  .text-dark200_light800 {
    @apply text-dark-200 dark:text-light-800 !important;
  }

  .text-dark300_light700 {
    @apply text-dark-300 dark:text-light-700;
  }

  .text-dark400_light700 {
    @apply text-dark-400 dark:text-light-700;
  }

  .text-dark500_light700 {
    @apply text-dark-500 dark:text-light-700 !important;
  }

  .text-dark500_light500 {
    @apply text-dark-500 dark:text-light-500;
  }

  .text-dark500_light400 {
    @apply text-dark-500 dark:text-light-400;
  }

  .text-dark300_light900 {
    @apply text-dark-300 dark:text-light-900 !important;
  }

  .text-dark400_light800 {
    @apply text-dark-400 dark:text-light-800;
  }

  .text-light400_light500 {
    @apply text-light-400 dark:text-light-500 !important;
  }

  .text-dark400_light500 {
    @apply text-dark-400 dark:text-light-500;
  }

  .text-dark400_light900 {
    @apply text-dark-400 dark:text-light-900 !important;
  }

  .text-light400_light500 {
    @apply text-light-400 dark:text-light-500 !important;
  }

  .light-border {
    @apply border-light-800 dark:border-dark-300;
  }

  .light-border-2 {
    @apply border-light-700 dark:border-dark-400 !important;
  }

  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }

  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }

  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }

  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }

  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }

  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }

  .body-bold {
    @apply text-[14px] font-bold leading-[18.2px];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }

  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }

  .placeholder {
    @apply placeholder:text-light-400 dark:placeholder:text-light-500;
  }

  .invert-colors {
    @apply invert dark:invert-0;
  }

  .shadow-light100_dark100 {
    @apply shadow-light-100 dark:shadow-dark-100;
  }

  .shadow-light100_darknone {
    @apply shadow-light-100 dark:shadow-none;
  }

  .primary-gradient {
    background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }

  .light-gradient {
    background: linear-gradient(
      132deg,
      rgba(247, 249, 255, 0.5) 0%,
      rgba(229, 237, 255, 0.25) 100%
    );
  }

  .primary-text-gradient {
    background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .card-wrapper {
    @apply bg-light-900 dark:dark-gradient shadow-light-100 dark:shadow-dark-100;
  }

  .btn {
    @apply bg-light-800 dark:bg-dark-300 !important;
  }

  .btn-secondary {
    @apply bg-light-800 dark:bg-dark-400 !important;
  }

  .btn-tertiary {
    @apply bg-light-700 dark:bg-dark-300 !important;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .markdown {
    @apply max-w-full prose dark:prose-p:text-light-700 dark:prose-ol:text-light-700 dark:prose-ul:text-light-500 dark:prose-strong:text-white dark:prose-headings:text-white prose-headings:text-dark-400 prose-h1:text-dark-300 prose-h2:text-dark-300 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500;
  }

  .markdown-editor {
    @apply prose max-w-full prose-p:m-0 dark:prose-headings:text-white prose-headings:text-dark-400 prose-p:text-dark-500 dark:prose-p:text-light-700 prose-ul:text-dark-500 dark:prose-ul:text-light-700 prose-ol:text-dark-500 dark:prose-ol:text-light-700 dark:prose-strong:text-white prose-blockquote:text-dark-500 dark:prose-blockquote:text-light-700;
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }

  /* IDEA Common IDEA */

  /* NOTE Auth Styles */
  .auth-section-container {
    @apply w-full min-h-[100vh] bg-[#F3F3F9];
  }

  .auth-form-container {
    @apply w-full px-2;
  }

  .auth-banner-text {
    @apply text-[#ffffff80] font-poppins-md text-[15px] text-center;
  }

  .main-form-container {
    @apply relative -top-[100px] sm:-top-[200px] lg:-top-[100px] z-[50] flex flex-col items-center justify-center gap-5;
  }

  .form-inner-container {
    @apply bg-white w-full max-w-[450px] px-5 sm:px-8 py-8 rounded-md shadow-light;
  }

  .form-heading {
    @apply mb-2 text-center font-poppins-md text-light-500 text-[16px];
  }

  .form-description {
    @apply text-[13px] font-poppins-rg text-light-400 text-center;
  }

  .form-lable-text {
    @apply text-[13px] font-poppins-md text-dark-500;
  }

  .form-input-text {
    @apply text-[13px] font-poppins-rg  text-dark-500;
  }

  .auth-description {
    @apply text-[#878A99] font-poppins-rg text-sm;
  }

  .auth-button {
    @apply bg-[#099885] text-white text-[14px] font-poppins-rg px-2 py-2 rounded-md flex justify-center items-center;
  }

  .auth-direction-text {
    @apply text-dark-500 font-poppins-md text-[13px];
  }

  .inital-pages-style {
    @apply bg-gray-600 min-h-[500vh];
  }

  /* NOTE Text Color  */

  .text-soft {
    @apply text-[#8A8D9C] font-poppins-rg;
  }
  .text-dark {
    @apply text-[#545A61] font-poppins-md;
  }

  .h1-bold-light-mode {
    @apply text-dark-550 font-poppins-md text-[22px];
  }
  .h1-bold-dark-mode {
    @apply text-light-550 font-poppins-md text-[22px];
  }

  .h2-dark-light-mode {
    @apply text-dark-550 font-poppins-rg text-[16px];
  }
  .h2-dark-dark-mode {
    @apply text-light-550 font-poppins-rg text-[16px];
  }

  .h4-dark-light-mode {
    @apply text-dark-550 font-poppins-rg text-[13px];
  }
  .h4-dark-dark-mode {
    @apply text-light-550 font-poppins-rg text-[13px];
  }

  .h6-soft {
    @apply text-[11px] text-soft;
  }

  /* NOTE Text Color  */

  /* NOTE Navbar classes */

  .nav-bg-light {
    @apply bg-light-900;
  }
  .nav-bg-dark {
    @apply bg-dark-200;
  }
  .nav-search-box-light {
    @apply bg-light-800;
  }
  .nav-search-box-dark {
    @apply bg-dark-300;
  }
  .nav-profile-box-light {
    @apply bg-light-800;
  }
  .nav-profile-box-dark {
    @apply bg-dark-100;
  }
  .nav-icons-hover-dark {
    @apply hover:bg-dark-100;
  }
  .nav-icons-hover-light {
    @apply hover:bg-light-800;
  }

  .custom-scrollbar {
    @apply scrollbar-custom;
  }

  .notification-dropdown ul {
    @apply py-0;
  }

  /* NOTE Left Sidebar */
  .custom-left-sidebar-scrollbar {
    @apply sidebar-custom;
  }

  /* Transition style */
  .transition-style {
    @apply transition-all duration-500 ease-linear;
  }

  /* NOTE Right Sidebar */

  .bg-sidebar-color-light {
    @apply bg-[#fff];
  }

  /* IDEA Right Sidebar Primary Colors */
  .bg-sidebar-color-yankees-blue {
    @apply bg-[#405189];
  }
  .bg-sidebar-color-dark-teal-green {
    @apply bg-[#066b5e];
  }
  .bg-sidebar-color-royal-purple {
    @apply bg-[#5147A3];
  }
  .bg-sidebar-color-cobalt-blue {
    @apply bg-[#2a5fc1];
  }

  /* IDEA Right Sidebar Gradiant Colors */
  .bg-sidebar-color-gradient-parent {
    @apply bg-gradient-to-r from-[#3d578a] to-[#10a99a];
  }
  .bg-sidebar-color-gradient-first-child {
    @apply bg-gradient-to-r from-[#3d578a] to-[#10a99a];
  }
  .bg-sidebar-color-gradient-second-child {
    @apply bg-gradient-to-r from-[#2a99dd] to-[#347cef];
  }
  .bg-sidebar-color-gradient-third-child {
    @apply bg-gradient-to-r from-[#2a99dd] to-[#0fb0a6];
  }
  .bg-sidebar-color-gradient-fourth-child {
    @apply bg-gradient-to-r from-[#1d2129] to-[#3b4b7d];
  }
}
