@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent; /* Background of the scrollbar main container */
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #d0d6db; /* Color of the scrollbar main elem */
  border-radius: 4px;
}
.scrollbar-custom.hide-scrollbar::-webkit-scrollbar-hover {
  display: none;
}

.sidebar-custom::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .inital-pages-style {
    @apply bg-gray-600 min-h-[500vh];
  }

  .text-soft {
    @apply text-[#8A8D9C] font-poppins-rg;
  }

  .text-dark {
    @apply text-[#545A61] font-poppins-md;
  }

  /* NOTE Auth Class */
  .auth-banner-text {
    @apply font-semibold text-[#A6ADC4] text-center text-[16px] sm:text-[20px] font-poppins-rg;
  }

  .auth-heading {
    @apply text-[#405189] text-lg font-poppins-md;
  }

  .auth-description {
    @apply text-[#878A99] font-poppins-rg text-sm;
  }

  .auth-label-text {
    @apply font-poppins-md text-[17px] text-[#212529];
  }

  .auth-input-text {
    @apply font-poppins-rg text-[15px] text-[#212529];
  }

  .auth-button {
    @apply bg-[#099885] text-white text-[18px] font-poppins-rg px-2 py-2 rounded-md flex justify-center items-center;
  }

  .auth-direction-text {
    @apply text-dark font-poppins-md text-[17px] text-[#212529];
  }

  /* Navbar classes */
  .custom-scrollbar {
    @apply scrollbar-custom;
  }

  .notification-dropdown ul {
    @apply py-0;
  }

  .nav-bg-dark {
    @apply bg-[#405189];
  }

  .nav-search-box-dark {
    @apply bg-[#4A5A8F];
  }

  .nav-search-box-light {
    @apply bg-[#F3F3F9];
  }

  .nav-profile-bg-dark {
    @apply bg-[#52639C];
  }

  .nav-profile-bg-light {
    @apply bg-[#f3f3f9];
  }

  .nav-elem-dark {
    @apply text-[#B0C4D9];
  }

  .nav-elem-light {
    @apply text-[#878A99];
  }

  /* Left Sidebar */
  .custom-left-sidebar-scrollbar {
    @apply sidebar-custom;
  }

  /* Transition style */
  .transition-style {
    @apply transition-all duration-500 ease-linear;
  }
}
