@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent; /* Background of the scrollbar main container */
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #d0d6db; /* Color of the scrollbar main elem */
  border-radius: 4px;
}
.scrollbar-custom.hide-scrollbar::-webkit-scrollbar-hover {
  display: none;
}

.sidebar-custom::-webkit-scrollbar {
  display: none;
}

/* NOTE Preloader Spinner */
.main-tranisiton {
  transition-property: display, justify-conten, align-items, background-color,
    z-index, inset, position;
  transition-timing-function: ease-in-out;
  transition-duration: 1000 ms;
}
.page-transition-off {
  display: none;
}
.page-transition-on {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9999;
  inset: 0;
  position: fixed;
}
/* NOTE Preloader Spinner */

@layer utilities {
  .transition-style {
    @apply transition-all duration-500 ease-linear;
  }

  .custom-scrollbar {
    @apply scrollbar-custom;
  }

  .custom-left-sidebar-scrollbar {
    @apply sidebar-custom;
  }

  .notification-dropdown ul {
    @apply py-0;
  }

  .auth-section-container {
    @apply w-full min-h-[100vh] bg-[#F3F3F9];
  }

  .auth-form-container {
    @apply w-full px-2;
  }

  .auth-banner-text {
    @apply text-[#ffffff80] font-poppins-md text-[15px] text-center;
  }

  .main-form-container {
    @apply relative -top-[100px] sm:-top-[200px] lg:-top-[100px] z-[50] flex flex-col items-center justify-center gap-5;
  }

  .form-inner-container {
    @apply bg-white w-full max-w-[450px] px-5 sm:px-8 py-8 rounded-md shadow-light;
  }

  .form-heading {
    @apply mb-2 text-center font-poppins-md text-light-500 text-[16px];
  }

  .form-description {
    @apply text-[13px] font-poppins-rg text-light-400 text-center;
  }

  .form-lable-text {
    @apply text-[13px] font-poppins-md text-dark-500;
  }

  .form-input-text {
    @apply text-[13px] font-poppins-rg  text-dark-500;
  }

  .auth-description {
    @apply text-[#878A99] font-poppins-rg text-sm;
  }

  .auth-button {
    @apply bg-[#099885] text-white text-[14px] font-poppins-rg px-2 py-2 rounded-md flex justify-center items-center;
  }

  .auth-direction-text {
    @apply text-dark-500 font-poppins-md text-[13px];
  }

  .inital-pages-style {
    @apply bg-gray-600 min-h-[500vh];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .background-light900_dark200 {
    @apply bg-light-900 dark:bg-dark-200;
  }

  .background-light800_dark300 {
    @apply bg-light-800 dark:bg-dark-300;
  }

  .background-light800_dark100 {
    @apply bg-light-800 dark:bg-dark-100;
  }

  .background-light800_dark600 {
    @apply bg-light-800 dark:bg-dark-600;
  }

  .background-light850_dark500 {
    @apply bg-light-850 dark:bg-dark-500;
  }

  .bg-sidebar-color-yankees-blue {
    @apply bg-[#405189];
  }
  .bg-sidebar-color-dark-teal-green {
    @apply bg-[#066b5e];
  }
  .bg-sidebar-color-royal-purple {
    @apply bg-[#5147A3];
  }
  .bg-sidebar-color-cobalt-blue {
    @apply bg-[#2a5fc1];
  }

  .bg-sidebar-color-gradient-parent {
    @apply bg-gradient-to-r from-[#3d578a] to-[#10a99a];
  }
  .bg-sidebar-color-gradient-first-child {
    @apply bg-gradient-to-r from-[#3d578a] to-[#10a99a];
  }
  .bg-sidebar-color-gradient-second-child {
    @apply bg-gradient-to-r from-[#2a99dd] to-[#347cef];
  }
  .bg-sidebar-color-gradient-third-child {
    @apply bg-gradient-to-r from-[#2a99dd] to-[#0fb0a6];
  }
  .bg-sidebar-color-gradient-fourth-child {
    @apply bg-gradient-to-r from-[#1d2129] to-[#3b4b7d];
  }

  .text-soft {
    @apply text-[#8A8D9C] font-poppins-rg;
  }
  .text-dark {
    @apply text-[#545A61] font-poppins-md;
  }

  .h1-bold-light550_dark550 {
    @apply text-dark-550 dark:text-light-550 font-poppins-md text-[22px];
  }

  .h2-light550_dark550 {
    @apply text-dark-550 dark:text-light-550 font-poppins-rg text-[16px];
  }

  .h4-light500_dark550 {
    @apply text-dark-550 dark:light-550 font-poppins-rg text-[13px];
  }

  .h6-soft {
    @apply text-[11px] text-soft;
  }

  .invert-colors {
    @apply invert dark:invert-0;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
}
